

#avy {
    float: left;
    width: 150px;
    height: auto;
    margin: 5px;
    margin-right: 15px;
}

.text {
    color: rgb(240, 240, 240);
    font-family: monospace;
    font-weight: lighter;
}
